body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color:rgb(212, 175, 81);
    height: 50px;
    width: 400px;
    border: solid 1px black;
    margin-bottom: 10px;
}

main{
    background-color:lightseagreen;
    height: 400px;
    width: 400px;
    border: solid 1px black;
    display: flex;
}

footer{
    background-color:rgb(115, 145, 87);
    height: 35px;
    width: 400px;
    border: solid 1px black;
    margin-top: 10px;
}

nav {
    background-color:rgb(108, 207, 211);
    height: 200px;
    width: 100px;
    border: solid 1px black;
    margin-top: 10px;
    margin-left: 10px;
}

.section-container{
    background-color:lightseagreen;
    width: 300px;
    height: 380px;
    margin: 10px;
}

/* Desde aqui no lo vimos en clase */
.section-uno{
    background-color: rgb(242, 242, 243);
    height: 230px;
    width: 300px;
    border: solid 1px black;
    display: flex;
}

.section-dos{
    background-color: rgb(242, 242, 243);
    height: 140px;
    width: 300px;
    border: solid 1px black;
    margin-top: 10px;
    display: flex;
}

.section-uno article{
    background-color: rgb(56, 117, 181);
    width: 180px;
    height: 180px;
    border: solid 1px black;
    margin: 10px;
    margin-top: 40px
}

.section-aside{

    width: 90px;
    height: 180px;
    margin-top: 40px
}

.section-aside aside{
    background-color: rgb(238, 107, 120);
    width: 88px;
    height: 84px;
    border: solid 1px black;
}

#aside-uno{
    margin-bottom: 10px;
}

.aside-dos{
    background-color: rgb(238, 107, 120);
    width: 88px;
    height: 84px;
    border: solid 1px black;
    margin-top: 40px;
}

.section-dos article{
    width: 180px;
    height: 10px;
    margin: 10px;

}