.rechazo{
    background-color: red;
}

#btn-enviar{
    background-color: greenyellow;
}

div {
    background-color: aquamarine;
    height: 50vh;
    display: flex;
}
section{
    background-color: rgb(152 96 199);
    width: 23%;
    height: 53px;
    margin: 2%;
    
}